<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peedqiz">

    <application
        android:allowBackup="true"
        android:icon="@drawable/peed"
        android:label="PeedQiz"
        android:roundIcon="@drawable/peed"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".CreateAccount"></activity>
        <activity android:name=".Splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoPremium" />
        <activity android:name=".Leaderboard" />
        <activity android:name=".Dashboard" />
        <activity android:name=".QuestionDisplay"></activity>
    </application>

</manifest>